__pycache__/

.vscode/
.history

# Jupyter Notebook
.ipynb_checkpoints

pandas profiling html/*
visualization/data/*
app_visualize/static/images/*
app_visualize/static/js/*
app_visualize/static/json/*