{% extends "base.html" %}
{% block title %}
High Charts
{% endblock %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Test charts are often used to visualize the relationships
        between data in two dimensions. This chart is visualizing
        x and y by gender, showing a clear trend where x
        are on average taller and heavier than y.
    </p>
</figure>

<!-- <script src="{{ url_for('static', filename='js/pieplot.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/barplot.js') }}" charset="utf-8"></script> -->
<!-- <script src="{{ url_for('static', filename='js/scatterplot.js') }}" charset="utf-8"></script> -->
<script src="{{ url_for('static', filename='js/timeplot.js') }}" charset="utf-8"></script>

{% endblock %}