{% extends "base.html" %}
{% block title %}
Visualize

{% endblock %}
{% block content %}
{{ user_file_and_types }}

<form action="#" method="POST">
    <br>
    <label for="graph_types">Example Input: [{"type":"timeplot", "x":"date col", "y":"numeric col"},{"type":"pieplot", "num_col":"name", "cat_col":"name"}]
    </label>
    <br>
    <br>
    <textarea id="graph_types" name="types" rows="4" cols="150" placeholder="Type Here"></textarea>
    <!-- <select name="graph_types" id="type" style="width: 90px;">
        <option value="datetime">Datetime</option>
        <option value="categoric">Categoric</option>
        <option value="numeric">Numeric</option>
        <option value="text">Text</option>
    </select> -->
    <br>
    <input type="submit" value="Send">
</form>

{% endblock %}